<template>
  <div class="auth-layout">
    <div class="container my-auto">
      <div class="columns is-centered">
        <div class="column is-half-tablet">
          <div class="box">
            <div class="columns">
              <div class="column">
                <b-button
                  tag="router-link"
                  :to="{ name: 'Login' }"
                  type="is-primary"
                  class="is-uppercase"
                  active-class="is-light"
                  expanded
                  >{{ $t('Login') }}</b-button
                >
              </div>
              <div class="column">
                <b-button
                  tag="router-link"
                  :to="{ name: 'Register' }"
                  type="is-primary"
                  class="is-uppercase"
                  active-class="is-light"
                  expanded
                  >{{ $t('Register') }}</b-button
                >
              </div>
            </div>
            <hr />
            <h3 class="title is-size-3 is-uppercase has-text-centered">{{ $t($route.name) }}</h3>
            <div class="block">
              <RouterView />
            </div>
            <hr />
            <div class="block">
              <b-button class="is-uppercase" icon-left="google" type="is-primary is-light" @click="login" :loading="loading" expanded>{{
                $t('Sign in with Google')
              }}</b-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AuthLayout',
  data() {
    return {
      loading: false,
    }
  },
  methods: {
    async login() {
      this.loading = true
      try {
        await this.$store.dispatch('signInWithGoogle')
        this.$router.push('/')
      } catch (e) {
        this.$toast.open({
          message: e.message,
          type: 'error',
        })
      }
      this.loading = false
    },
  },
}
</script>

<style lang="scss">
.auth-layout {
  display: flex;
  min-height: 100vh;
  padding: 5rem 0;
}
</style>
