<template>
  <div class="default-layout has-background-light">
    <Navbar class="navbar" />
    <div class="main">
      <Sidebar class="sidebar" />
      <RouterView class="frame has-background-white" />
    </div>
  </div>
</template>

<script>
import Navbar from '../Blocks/Navbar'
import Sidebar from '../Blocks/Sidebar'

export default {
  name: 'DefaultLayout',
  components: {
    Navbar,
    Sidebar,
  },
}
</script>

<style lang="scss" scoped>
.default-layout {
  width: 100%;
  min-height: 100vh;
  .navbar {
    height: 60px;
  }
  .main {
    display: flex;
    width: 100%;
    padding: 5px;
    .sidebar {
      width: 300px;
    }
    .frame {
      width: calc(100% - 300px);
      min-height: calc(100vh - 70px);
    }
  }
}
</style>
