<template>
  <div class="p-5">
    <b-modal v-model="modalCreateActive" :width="640" scroll="keep">
      <FormCreateAdmin @close="modalCreateActive = false" />
    </b-modal>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title is-4">{{ $t('Admin Lists') }}</h1>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <b-button :label="$t('Create Admin')" type="is-primary" @click="modalCreateActive = true" />
        </div>
      </div>
    </div>
    <hr />
    <div class="media" v-for="list in admin" :key="list.id">
      <div class="media-content">
        <h4 class="title is-5 is-capitalized m-0">{{ list.name }}</h4>
        <strong class="has-text-primary">
          {{ list.id }}
        </strong>
      </div>
      <div class="media-right">
        <b-button type="is-danger" class="has-text-weight-bold" size="is-small" icon-left="delete" @click="destroy(list.id)">{{
          $t('Delete')
        }}</b-button>
      </div>
    </div>
  </div>
</template>

<script>
import FormCreateAdmin from '@/components/elements/FormCreateAdmin'

export default {
  name: 'AdminPage',
  components: { FormCreateAdmin },
  data() {
    return {
      modalCreateActive: false,
    }
  },
  computed: {
    admin() {
      return this.$store.state.admin.admin
    },
  },
  methods: {
    destroy(email) {
      this.$buefy.dialog.confirm({
        title: 'Hapus Admin',
        message: `Apakah anda serius ingin menghapus Admin <b>${email}</b>?`,
        confirmText: 'Hapus Admin',
        type: 'is-danger',
        hasIcon: true,
        onConfirm: async () => {
          try {
            await this.$store.dispatch('destroyAdmin', email)
          } catch (e) {
            this.$toast.open({
              message: e.message,
              type: 'error',
            })
          }
        },
      })
    },
  },
  mounted() {
    this.$store.dispatch('bindAdmin')
  },
  destroyed() {
    this.$store.dispatch('unbindAdmin')
  },
}
</script>
