<template>
  <div class="p-5">
    <b-modal v-model="modalCreateActive" :width="1024" scroll="keep">
      <FormCreateEmployee @close="modalCreateActive = false" />
    </b-modal>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title is-4">{{ $t('Employee Lists') }}</h1>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <b-button :label="$t('Create Employee')" type="is-primary" @click="modalCreateActive = true" />
        </div>
      </div>
    </div>
    <hr />
    <b-field class="mb-6" label-position="inside" :label="$t('Search...')">
      <b-input :placeholder="$t('Search...')" type="search" icon-right="magnify" v-model.trim="search" />
    </b-field>
    <EmployeeList v-for="list in filtered.slice((current - 1) * perPage, current * perPage)" :employee="list" :key="list.id" />
    <hr />
    <b-pagination :total="filtered.length" v-model="current" :per-page="perPage" />
  </div>
</template>
<script>
import Fuse from 'fuse.js'
import FormCreateEmployee from '@/components/elements/FormCreateEmployee'
import EmployeeList from '@/components/elements/EmployeeList'
import Avatar from '@/assets/images/avatar.png'
export default {
  name: 'Employee',
  components: { FormCreateEmployee, EmployeeList },
  data() {
    return {
      current: 1,
      perPage: 20,
      modalCreateActive: false,
      Avatar,
      search: '',
      fuseOption: {
        keys: [
          {
            name: 'nama',
            weight: 0.5,
          },
          {
            name: 'nip',
            weight: 0.5,
          },
          {
            name: 'email',
            weight: 0.5,
          },
          {
            name: 'jenis_pegawai',
            weight: 0.5,
          },
          {
            name: 'jabatan_pegawai',
            weight: 0.5,
          },
          {
            name: 'agama',
            weight: 0.5,
          },
          {
            name: 'status_perkawinan',
            weight: 0.5,
          },
          {
            name: 'alamat',
            weight: 0.5,
          },
        ],
      },
    }
  },
  computed: {
    employees() {
      return this.$store.getters.employees
    },
    filtered() {
      let results = this.employees
      if (this.search) {
        const fuse = new Fuse(this.employees, this.fuseOption)
        results = []
        fuse.search(this.search).forEach((val) => results.push(val.item))
      }

      return results
    },
  },
  mounted() {
    this.$store.dispatch('bindEmployees')
  },
  destroyed() {
    this.$store.dispatch('unbindEmployees')
  },
}
</script>
