<template>
  <form @submit.prevent="forget">
    <b-field :label="$t('Email address')" label-position="inside">
      <b-input :placeholder="$t('Email address')" v-model="email" name="email" />
    </b-field>
    <div class="pt-3">
      <b-button native-type="submit" class="is-uppercase" type="is-primary" :loading="loading" expanded>{{
        $t('Send reset password email')
      }}</b-button>
    </div>
  </form>
</template>

<script>
export default {
  name: 'ForgetPasswordPage',
  data() {
    return {
      loading: false,
      email: '',
    }
  },
  methods: {
    async forget() {
      this.loading = true
      try {
        await this.$store.dispatch('forgetPassword', this.email)
        this.$toast.open({
          message: this.$t('Check your email and follow the link.'),
          type: 'success',
        })
        this.$router.push({ name: 'Login' })
      } catch (e) {
        this.$toast.open({
          message: e.message,
          type: 'error',
        })
      }
      this.loading = false
    },
  },
}
</script>
