<template>
  <div class="home py-5">
    <nav class="level is-mobile">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">TOTAL</p>
          <p class="title">{{ pnsCount }}</p>
          <p class="is-size-5"><strong>PNS</strong></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">TOTAL</p>
          <p class="title">{{ honorCount }}</p>
          <p class="is-size-5"><strong>HONOR</strong></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">TOTAL</p>
          <p class="title">{{ pegawaiCount }}</p>
          <p class="is-size-5"><strong>PEGAWAI</strong></p>
        </div>
      </div>
    </nav>
    <hr />
  </div>
</template>

<script>
export default {
  name: 'Home',
  computed: {
    honorCount() {
      return this.$store.getters.employees.filter((el) => el.jenis_pegawai == 'Honor').length
    },
    pnsCount() {
      return this.$store.getters.employees.filter((el) => el.jenis_pegawai == 'PNS').length
    },
    pegawaiCount() {
      return this.$store.getters.employees.length
    },
  },
  mounted() {
    this.$store.dispatch('bindEmployees')
  },
  destroyed() {
    this.$store.dispatch('unbindEmployees')
  },
}
</script>
