<template>
  <form @submit.prevent="login">
    <b-field :label="$t('Email address')" label-position="inside">
      <b-input :placeholder="$t('Email address')" v-model="form.email" name="email" />
    </b-field>
    <b-field :label="$t('Password')" class="m-0" label-position="inside">
      <b-input :placeholder="$t('Password')" type="password" password-reveal v-model="form.password" name="password" />
    </b-field>
    <div class="has-text-right">
      <router-link :to="{ name: 'Forget Password' }">{{ $t('Forget password?') }}</router-link>
    </div>
    <div class="pt-3">
      <b-button native-type="submit" class="is-uppercase" type="is-primary" :loading="loading" expanded>{{ $t('Login') }}</b-button>
    </div>
  </form>
</template>

<script>
export default {
  name: 'LoginPage',
  data() {
    return {
      loading: false,
      form: {
        email: '',
        password: '',
      },
    }
  },
  methods: {
    async login() {
      this.loading = true
      try {
        await this.$store.dispatch('login', this.form)
        this.$router.push('/')
      } catch (e) {
        this.$toast.open({
          message: e.message,
          type: 'error',
        })
      }
      this.loading = false
    },
  },
}
</script>
