<template>
  <b-navbar>
    <template #brand>
      <b-navbar-item tag="router-link" :to="{ name: 'Home' }" class="has-text-primary is-size-5 has-text-weight-semibold">
        {{ $t('app_name') }}
      </b-navbar-item>
    </template>
    <template #end>
      <b-navbar-item tag="div">
        <b-button type="is-danger" @click="logout">
          <strong>{{ $t('Logout') }}</strong>
        </b-button>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>
<script>
export default {
  name: 'Navbar',
  methods: {
    async logout() {
      try {
        await this.$store.dispatch('logout')
        this.$router.push({ name: 'Login' })
      } catch (e) {
        this.$toast.open({
          message: e.message,
          type: 'error',
        })
      }
    },
  },
}
</script>
