<template>
  <div class="p-3">
    <b-menu>
      <b-menu-list :label="$t('Menu')">
        <b-menu-item icon="home" :label="$t('Home')" tag="router-link" :to="{ name: 'Home' }" />
        <b-menu-item icon="lock" :label="$t('Admin')" tag="router-link" :to="{ name: 'Admin' }" v-if="$store.getters.isSuperuser" />
        <b-menu-item icon="account" :label="$t('Employee')" tag="router-link" :to="{ name: 'Employee' }" />
      </b-menu-list>
      <b-menu-list :label="$t('Account')">
        <li>
          <a class="icon-text has-text-danger" @click.prevent="logout">
            <span class="icon is-small">
              <i class="mdi mdi-logout" />
            </span>
            <span>{{ $t('Logout') }}</span>
          </a>
        </li>
      </b-menu-list>
    </b-menu>
  </div>
</template>

<script>
export default {
  name: 'Sidebar',
  methods: {
    async logout() {
      try {
        await this.$store.dispatch('logout')
        this.$router.push({ name: 'Login' })
      } catch (e) {
        this.$toast.open({
          message: e.message,
          type: 'error',
        })
      }
    },
  },
}
</script>
