<template>
  <div class="media" v-if="employee">
    <b-modal v-model="modalEditActive" :width="1024" scroll="keep">
      <FormEditEmployee @close="modalEditActive = false" :employee="employee" />
    </b-modal>
    <figure class="media-left">
      <div class="image is-64x64">
        <v-lazy-image :src="foto" :src-placeholder="Avatar" class="is-rounded" />
      </div>
    </figure>
    <div class="media-content" v-if="openDetail">
      <table class="table is-bordered is-fullwidth">
        <tr>
          <th width="150">NIP</th>
          <td>{{ employee.nip }}</td>
        </tr>
        <tr>
          <th>Nama</th>
          <td>{{ employee.nama }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ employee.email }}</td>
        </tr>
        <tr>
          <th>Jenis</th>
          <td>{{ employee.jenis_pegawai }}</td>
        </tr>
        <tr>
          <th>Jabatan</th>
          <td>{{ employee.jabatan_pegawai }}</td>
        </tr>
        <tr>
          <th>Tempat Lahir</th>
          <td>{{ employee.tempat_lahir }}</td>
        </tr>
        <tr>
          <th>Tanggal Lahir</th>
          <td>{{ formatDate(employee.tanggal_lahir) }}</td>
        </tr>
        <tr>
          <th>Agama</th>
          <td>{{ employee.agama }}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{ employee.status_perkawinan }}</td>
        </tr>
        <tr>
          <th>Alamat</th>
          <td>{{ employee.alamat }}</td>
        </tr>
      </table>
      <div class="field is-grouped">
        <p class="control">
          <button class="button is-link" @click="modalEditActive = true">{{ $t('Edit') }}</button>
        </p>
        <p class="control">
          <button class="button is-danger" @click="destroy">{{ $t('Delete') }}</button>
        </p>
      </div>
    </div>
    <div class="media-content" v-else>
      <b-tag type="is-primary is-light">
        {{ employee.jabatan_pegawai }}
      </b-tag>
      <div class="is-size-5 is-capitalized">
        <strong>
          {{ employee.nama }}
        </strong>
      </div>
      <strong class="has-text-primary">
        {{ employee.nip }}
      </strong>
    </div>
    <div class="media-right">
      <b-button type="is-primary is-light" @click="openDetail = !openDetail">
        <strong>{{ $t(openDetail ? 'Close' : 'Detail') }}</strong>
      </b-button>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase/app'
import Avatar from '@/assets/images/avatar.png'
import FormEditEmployee from './FormEditEmployee'

const storage = firebase.storage()
const storageRef = firebase.storage().ref()

export default {
  name: 'EmployeeList',
  props: {
    employee: {
      type: Object,
      default: () => ({}),
    },
  },
  components: {
    FormEditEmployee,
  },
  data() {
    return {
      Avatar,
      openDetail: false,
      modalEditActive: false,
    }
  },
  computed: {
    foto() {
      if (this.employee.foto) {
        return `https://storage.googleapis.com/${storage.app.options.storageBucket}/${this.employee.foto}`
      }
      return this.Avatar
    },
  },
  methods: {
    formatDate(time) {
      let t
      if (time.toDate) {
        t = time.toDate()
      } else {
        t = new Date(time)
      }
      return `${t.getFullYear()}-${('0' + t.getMonth()).slice(-2)}-${('0' + t.getDate()).slice(-2)}`
    },
    destroy() {
      this.$buefy.dialog.confirm({
        title: 'Hapus Pegawai',
        message: `Apakah anda serius ingin menghapus Pegawai <b>${this.employee.nama}</b>?`,
        confirmText: 'Hapus Pegawai',
        type: 'is-danger',
        hasIcon: true,
        onConfirm: async () => {
          try {
            const foto = this.employee.foto
            await this.$store.dispatch('destroyEmployee', this.employee.id)
            if (foto) {
              await storageRef.child(foto).delete()
            }
          } catch (e) {
            this.$toast.open({
              message: e.message,
              type: 'error',
            })
          }
        },
      })
    },
  },
}
</script>
