<template>
  <div class="card">
    <div class="card-header">
      <p class="card-header-title py-4">
        {{ $t('Create admin') }}
      </p>
      <button class="card-header-icon" @click="$emit('close')">
        <b-icon icon="close" />
      </button>
    </div>
    <form class="card-content" @submit.prevent="submit">
      <b-field :label="$t('Name')">
        <b-input :placeholder="$t('Name')" v-model="name" name="name" required />
      </b-field>
      <b-field :label="$t('Email address')">
        <b-input :placeholder="$t('Email address')" v-model="email" name="email" required type="email" />
      </b-field>
      <div class="pt-3">
        <b-button native-type="submit" class="is-uppercase" type="is-primary" :loading="loading">
          {{ $t('Create Admin') }}
        </b-button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'FormCreateAdmin',
  data() {
    return {
      loading: false,
      email: '',
      name: '',
    }
  },
  methods: {
    async submit() {
      this.loading = true
      try {
        await this.$store.dispatch('createAdmin', { email: this.email, name: this.name })
        this.email = ''
        this.name = ''
        this.$emit('close')
      } catch (e) {
        this.$toast.open({
          message: e.message,
          type: 'error',
        })
      }
      this.loading = false
    },
  },
}
</script>
