<template>
  <div class="card">
    <div class="card-header">
      <p class="card-header-title py-4">
        {{ $t('Create Employee') }}
      </p>
      <button class="card-header-icon" @click="$emit('close')">
        <b-icon icon="close" />
      </button>
    </div>
    <form class="card-content" @submit.prevent="submit">
      <div class="columns">
        <div class="column">
          <div class="p-3 has-background-light mb-3">
            <figure class="image is-square">
              <img :src="image || Avatar" />
            </figure>
          </div>
          <b-field class="file">
            <b-upload v-model="file" expanded>
              <b-button tag="a" type="is-light" icon-left="upload" expanded>
                <span>{{ file ? file.name : '' || 'Pilih Foto' }}</span>
              </b-button>
            </b-upload>
          </b-field>
        </div>
        <div class="column is-two-thirds">
          <b-field label="Nip" label-position="inside">
            <b-input placeholder="Nip" v-model.trim="form.nip" name="nip" required />
          </b-field>
          <b-field label="Nama" label-position="inside">
            <b-input placeholder="Nama" v-model.trim="form.nama" name="nama" required />
          </b-field>
          <b-field label="Alamat Email" label-position="inside">
            <b-input placeholder="Alamat Email" v-model.trim="form.email" name="email" type="email" required />
          </b-field>
          <b-field label="Jenis Pegawai" label-position="inside">
            <b-select v-model="form.jenis_pegawai" expanded name="jenis_pegawai" required>
              <option value="" disabled>Pilih</option>
              <option>Honor</option>
              <option>PNS</option>
            </b-select>
          </b-field>
          <b-field label="Jabatan Pegawai" label-position="inside">
            <b-input placeholder="Jabatan Pegawai" v-model.trim="form.jabatan_pegawai" name="jabatan_pegawai" required />
          </b-field>
          <b-field label="Tempat Lahir" label-position="inside">
            <b-input placeholder="Tempat Lahir" v-model.trim="form.tempat_lahir" name="tempat_lahir" required />
          </b-field>
          <b-field label="Tanggal Lahir" label-position="inside">
            <b-datepicker
              v-model="form.tanggal_lahir"
              locale="id-ID"
              placeholder="Pilih Tanggal Lahir"
              icon-right="calendar-today"
              required
            >
            </b-datepicker>
          </b-field>
          <b-field label="Agama" label-position="inside">
            <b-select v-model="form.agama" name="agama" expanded required>
              <option value="" disabled>Pilih</option>
              <option>Islam</option>
              <option>Kristen Protestan</option>
              <option>Kristen Katolik</option>
              <option>Hindu</option>
              <option>Buddha</option>
              <option>Konghucu</option>
            </b-select>
          </b-field>
          <b-field label="Status Perkawinan" label-position="inside">
            <b-select v-model="form.status_perkawinan" name="status_perkawinan" expanded required>
              <option value="" disabled>Pilih</option>
              <option>Menikah</option>
              <option>Belum Menikah</option>
            </b-select>
          </b-field>
          <b-field label="Alamat" label-position="inside">
            <b-input placeholder="Alamat" v-model.trim="form.alamat" name="alamat" type="textarea" maxlength="300" required />
          </b-field>
          <div class="pt-3">
            <b-button native-type="submit" type="is-primary" :loading="loading" expanded :label="$t('Create Employee')" />
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import firebase from 'firebase/app'
import cropImage from '@/helpers/cropImage'
import Avatar from '@/assets/images/avatar.png'
import { v4 as uuidv4 } from 'uuid'

const storageRef = firebase.storage().ref()

const initialForm = {
  nip: '',
  nama: '',
  email: '',
  jenis_pegawai: '',
  jabatan_pegawai: '',
  tempat_lahir: '',
  tanggal_lahir: null,
  agama: '',
  status_perkawinan: '',
  alamat: '',
  foto: '',
}

export default {
  name: 'FormCreateEmployee',
  data() {
    return {
      Avatar,
      image: '',
      file: null,
      loading: false,
      form: {
        ...initialForm,
      },
    }
  },
  methods: {
    onFileChange(file) {
      cropImage(file)
        .then((url) => {
          this.image = url
        })
        .catch((er) => {
          this.$toast.open({
            message: er.message,
            type: 'error',
          })
          this.file = null
        })
    },

    async upload(id) {
      const name = `images/${Date.now()}-${uuidv4()}.jpg`
      const ref = storageRef.child(name)
      await ref.putString(this.image, 'data_url')
      await this.$store.dispatch('updateEmployee', { id, data: { foto: name } })
    },

    async submit() {
      this.loading = true
      try {
        const { id } = await this.$store.dispatch('createEmployee', this.form)
        if (this.image) await this.upload(id)
        this.$emit('close')
      } catch (e) {
        this.$toast.open({
          message: e.message,
          type: 'error',
        })
        this.loading = false
      }
    },
  },
  watch: {
    file(val) {
      if (val) this.onFileChange(val)
    },
  },
}
</script>
